body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: white;
    text-decoration: none;
}

.header {
    color: #ffffff;
    background-color: #8594b0;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 10px 30px;
}

.topbar {
    background-color: #fff1cc;
    height: 170px;
}

.color {
    display: flex;
    height: 200px;
}

.one {
    background-color: #fffe03;
    width: 25%;
}

.two {
    background-color: #bf8e03;
    width: 25%;
}

.three {
    background-color: #2f73b4;
    width: 25%;
}

.four {
    background-color: #547f37;
    width: 25%;
}

.main-content {
    background-color: #bed4ee;
    height: 200px;
}

.footer {
    background-color: #8594b0;
    height: 25px;
}